/* BACKGROUND */
.front {
  background-image: url("vaultdoor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(93, 69, 47);
}

/* SECRET MESSAGE */
#message {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 3px 2px 1px rgb(70, 33, 18);
  position: absolute;
  right: 0px;
  top: 2px;
  margin-top: 10px;
  background-color: rgba(129, 81, 49, 0.362);
}
.mess {
  background-image: url("https://cdna.artstation.com/p/assets/images/images/013/242/702/large/bryan-tsai-15440334-10154917967248010-30808027857361677-o.jpg?1538701308");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.883);
}

/* TITLE */
#title {
  font-size: 300px;
  text-shadow: 19px 4px 20px rgb(91, 51, 35);
  padding-left: 5px;
  margin-top: 165px;
}

/* BUTTON CHOICES */
#click {
  font-size: 30px;
  text-shadow: 4px 6px 8px;
  margin-left: 30px;
  margin-top: 150px;
}
/* button1 */
.button1 {
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: double rgba(0, 0, 0, 0.824);
  color: #ff9d00bc;
  background-color: #000000d9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #452c0e7c;
  margin-right: 10px;
  margin-left: 30px;
}
.button1:hover {
  background-color: #3c2603d9;
}

.button1:active {
  background-color: #3c2603d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* button2 */
.button2 {
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: double rgba(0, 0, 0, 0.824);
  color: #ff9d00bc;
  background-color: #000000d9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #452c0e7c;
  margin-right: 10px;
  margin-left: 5px;
}

.button2:hover {
  background-color: #3c2603d9;
}

.button2:active {
  background-color: #3c2603d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* button3 */
.button3 {
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: double rgba(0, 0, 0, 0.824);
  color: #ff9d00bc;
  background-color: #000000d9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #452c0e7c;
  margin-right: 10px;
  margin-left: 5px;
}

.button3:hover {
  background-color: #3c2603d9;
}

.button3:active {
  background-color: #3c2603d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
