/* BACKGROUND */
body {
  background-image: url("vaultdoor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#title {
  font-size: 40px
  text-shadow: 12px -2px 3px rgb(152, 130, 88);
  padding-left: 5px;
  display: flex;
}
#message {
  font-size: medium;
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
  display: contents;
  margin-top: 20px;
  margin-left: 10px;
}
